{{#each beers}}
 
  <div class="container1">
     <img src="{{image_url}}" class="img" alt="..." width="100px"/>
    <h2 class="beers-title">{{name}}</h2>
    <h5 class="beers-text"> {{tagline}} </h5>
    <p class="beers-description">{{description}}</p>
  </div>
  
 {{/each}}  
  
