<div>
<img src="/images/beer.png" alt="beer" class="image" />
</div>
<div class="button-both">
<div class="d-grid gap-2 col-6 mx-auto">
 <a href="/beers"> <button class="btn btn-primary" type="button">Check the Beers!</button>
 <a href="/randombeer">  <button class="btn btn-primary" type="button"> Check a Random Beer!</button></a>
</div>
</div>
