 <div class="container2">
     <img src="{{image_url}}" class="img-top" alt="..." width="100px">
    <h2 class="randombeers-title">{{name}}</h2>
    <p class="randombeers-description">{{description}}</p>
    <h5 class="randombeers-text"> {{tagline}} </h5>
  </div>